.account {
  margin: auto;
  width: 35%;
  margin-top: 6rem;
  margin-bottom: 4rem;
  box-shadow: 4px -1px 25px -8px rgba(0, 0, 0, 0.77);
}
.account_form {
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
.account_logo {
  color: #fd4c82;
  font-size: 2.5rem;
  padding: 0 5px;
}
.logo_text {
  font-size: 1.5rem;
}
.care {
  color: #fd4c82;
}
@media screen and (max-width: 746px) {
  .account {
    width: 75%;
  }
}
